.json-value {
    position: relative;
    cursor: pointer;
}
    .json-value[data-hover]::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background-color: rgba(116, 160, 255, 0.37);
        border-radius: 4px;
    }