@inherits LayoutComponentBase
@using JsonEditor.Shared.Generic

<PageTitle>JsonEditor</PageTitle>

<div class="page">
    <NavMenu />
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
