<nav class="nav-menu" data-shown-mobile="@_shownMobile">
	<div class="close-button">
		<Button @onclick="() => _shownMobile = false">Close</Button>
	</div>
	@foreach (var link in links) {
		<div class="link" @key="link.Path">
			<NavLink href="@link.Path" Match=NavLinkMatch.All @onclick="() => _shownMobile = false">@link.Name</NavLink>
		</div>
	}
</nav>
<header>
	<Button @onclick="() => _shownMobile = true">Open Nav</Button>
</header>