@inherits NavMenuBase

<nav class="nav-menu" data-shown-mobile="@ShownMobile">
	<div class="close-button">
		<Button @onclick="() => ShownMobile = false">Close</Button>
	</div>
	@foreach (var link in Links) {
		<div class="link" @key="link.Path">
			<NavLink href="@link.Path" Match=NavLinkMatch.All @onclick="() => ShownMobile = false">@link.Name</NavLink>
		</div>
	}
</nav>
<header>
	<Button @onclick="() => ShownMobile = true">Open Nav</Button>
</header>