@page "/schemas"
@inherits JsonSchemasBase
@using JsonEditor.Shared.Generic

<div class="content">
	<CustomPageTitle Title="Schema Manager" />

	<div>
		<h4>Existing schemas (@Schemas.Count)</h4>
		@if (Schemas.Count == 0)
		{
			<p>@("No schemas available.")</p>
		} else {
			<ul>
				@foreach (var schema in Schemas)
				{
					<SchemaListItem Schema="schema" OnRefreshRequested="UpdateSchemasList" @key="schema.FileName" />
				}
			</ul>
		}
	</div>

	<label class="file-upload">
		Upload File(s)
		<InputFile OnChange="@SaveSchemas" multiple accept=".json" />
	</label>
	
	<div>
		@if (HasStartedUpload) {
			<h4>Upload progress & status</h4>
			@if (IsUploading)
			{
				<p>Uploading...</p>
			} else
			{
				<ul>
				@foreach (var result in UploadResults)
				{
					<SchemaUploadResult Result="@result" />
				}
				</ul>
			}
		}
	</div>
</div>
