.dialog-buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
    padding-left: 120px;
}
