@inherits JsonStringBase
@using JsonEditor.Shared.Generic

@if (IsEnum)
{
    <Select OnChange="OnSelectChanged">
        @foreach (var option in Schema!.Enum)
        {
            <option @key="option" value="@option">@option</option>
        }
    </Select>
}
else
{
    <Input @oninput="OnInput" Value="@Value" TValue="string"/>
}
