@inherits JsonArrayBase
@using Newtonsoft.Json.Linq
@using JsonEditor.Shared.Generic

<table>
	@foreach (var i in Enumerable.Range(0, JsonArray.Count)) {
		<tr>
			<td>[@i]</td>
			<td>
				<JsonValue
					JsonValue="@JsonArray[i]"
					OnChange="(e) => { OnChangeProperty(i, e); }"
					Name="@($"[{i}]")"
				/>
			</td>
		</tr>
	}
</table>